@font-face {
    font-family: 'Rochester';
    src: url('Rochester/Rochester-Regular.ttf') format('truetype');
    /* Update the path to the font file as per your project structure */
  }
  
  header {
    background-color: rgb(227, 236, 252);
    color: rgb(0, 0, 0);
    font-size: 27px;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Ensures header is above other content */
    font-family: 'Rochester';
    font-weight: bold;
    display: flex; /* Make header items align horizontally */
    align-items: center; /* Align items vertically */
  
  }
  
  header img {
    height: 50px; /* Adjust the height of the logo as needed */
    vertical-align: middle;
    margin-left: 20px;

  }
  
  .container {
    
        padding-top:70px; /* Adjust the value to match the height of your header */
    
    
  }
  
  header nav {
    margin-left: 350px;

  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Make menu items align horizontally */
    margin-left: 20px;
  }
  
  header nav ul li {
    margin-right: 20px; /* Adjust the spacing between menu items */
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif; /* Update to Poppins font */
  }
  
  header nav ul li a {
    text-decoration: none;
    color: black;
    position: relative;
  }
  
  header nav ul li a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: orange;
    bottom: -3px; /* Adjust the position of the line */
    right: -3px;
  }
  
  .buttons {
    margin-left: auto; /* Push the buttons to the far right */
    display: flex; /* Make buttons align horizontally */
   
  }
  
  
  
  .join-btn {
    background-color: white;
    color: black;
    margin-left: 10px; /* Adjust the spacing between buttons */
    margin-right: 10px;
    border: none;
    border-radius: 50%;
    font-family:poppins;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
  
    width: 150px;
    height: 45px;
    border-radius: 25px;
    background-color: rgb(25, 69, 230);
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

 
   
  }
  
  .sign-in-btn {
    background-color: white;
    color: black;
    margin-left: 10px; /* Adjust the spacing between buttons */
    margin-right: 20px;
    border: none;
    border-radius: 50%;
    font-family:poppins;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    cursor: pointer;
    width: 150px;
    height: 45px;
    border-radius: 25px;
    background:rgb(255, 255, 255);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    
  }
  

  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  
  .container .background
  {
    height: 350px;

    background-image: url('Images/background.png');
    background-size: cover;
  }

  .background h4
  {
    margin-top: 30px;
    font-family: poppins;
    position: center;
    margin-left: 400px;


  }
  .background .text
  {
    margin-bottom:100px;
    margin-left: 620px;
  }

  /* Search container styles */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 300px;
    height: 50px;
    padding: 10px;
    margin-left: 100px;
    border: 1px solid rgb(96, 93, 93);
    border-radius: 25px;
  }
  
  .search-input::placeholder {
    color: #999;
    font-family: poppins;
    font-size: medium;
    font-weight: bold;
  }
  .search-input2 {
    width: 300px;
    height: 50px;
    padding: 10px;
    margin-right: 100px;
    border: 1px solid rgb(96, 93, 93);
    border-radius: 25px;
  }
  
  .search-input2::placeholder {
    color: #999;
    font-family: poppins;
    font-size: medium;
    font-weight: bold;

  }
  
  

  
  .compare-btn {
    width: 200px;
    height: 50px;
    background-color: rgb(240, 94, 30);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 625px;
    font-family: poppins;
  }
  
  .diff1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .h31
  {
    margin-right: 400px;
  }
  
  .h32
  {
    margin-left: 200px;
  }
   .image
   {
    margin-left: 660px;
   }


   
   
   /* Footer styles */
.footer {
  background-color: rgb(195, 195, 195);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  margin-bottom: -1px;
  margin-top: 200px;
}

.footer-text {
  color: #fff
}
