body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.search {
    position: relative;
    margin-top: 40px;
    margin-left: 480px;
    margin-bottom: 40px;

  }
 
  
  .search input[type="search"] {
    padding: 9px 30px 9px 30px; 
    width: 400px;
    font-size: 15px;
    border: 1px solid #b8b7b7;
    border-radius: 15px;
    background-image: url('images/search.png');
    background-repeat: no-repeat;
    background-position: 10px center; 
    background-size: 20px; 
  }
  
  .search input[type="search"]::after {
    content: "\1F50E"; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999; 
    pointer-events: none; 
  }
  

  
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
  }
  
  .card {
    width: 200px;
    background-color: #f0f0f0;
    border-radius: 15px;
    overflow: hidden;
    
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
  }
  
  .card-title {
    padding: 10px;
    text-align: center;
    background-color: #a1a1a1;
    color: #fff;
    font-weight: normal;
    font-family: 'Poppins';
  }
 .text-center h2 {
  text-align: center;
  margin-top: 200px; 
  font-family: 'Poppins';
  font-weight: 100;
}

.full-width-picture {
  margin-top: 50px; 
}

.full-width-picture img {
  width: 100%;
  display: block;
  height: 600px;
}

.signup-part {
    position: relative;
    text-align: center;
    margin-top: 200px;
  }
  
  .signup-part img {
    width: 100vw; 
    height: 500px;
    display: block;
    margin-top: 60px;
  }
  
  .signup-part .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .signup-part p,
  .signup-part button{
    font-family: 'Poppins';
    color: #5E5E5E;
    font-size: small;
  }
  .signup-part h1 {
    font-family: 'Poppins';
    color: #5E5E5E;
    font-size: large;
  }
  
  .signup-part button {
    margin-top: 20px; 
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
  }
  
  .signup-part button:hover {
    background-color: #0056b3;
  }
  
  
  